/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  padding: 0;
  margin: 0;
}
form{
  max-width: 35em;
  margin: 4em auto;
  position: relative;
  background: white;
  padding: 2em 3em;
  overflow: hidden;
  // opacity: 0.9;
}
form h1{
  font-family:fantasy ;
  color:black;
}
form input[type=text]::placeholder{
  font-family: "Raleway";
  color:black;
}
form .data{
  margin-top: 1em;
}
form .data li{
  background: #fff;
  border-left: 4px solid springgreen;
  padding: 1em;
  margin: 1em auto;
  color: #666;
  font-family: "Raleway";
}
form .data li i{
  float: right;
  color: #888;
  cursor: pointer;
}
form .input-group-text{
  background:springgreen;
  // border-radius: 10%;
  width: 2em;
  height: 2em;
  padding: 1em 23px;
  color:black;
  position: absolute;
  right: 13px;
  top: 68px;
  cursor: pointer;
}
form .input-group-text i{
  font-size: 2em;
}
form .form-control{
  height: 3em;
  font-family: "Raleway";
}
form .form-control:focus{
  box-shadow: 0;
}
